.chores {
    color: #ff4f33;
}

.doneChores {
    color: #3c79b8;
}

h3 {
    text-align: center;
}

img {
    max-width: 15%;
    height: auto;
    display: block;
    margin: auto;
}

.workHarder {
    color: white;
    background-color: black;
    text-align: center;
}

.noIceCream {
    color: lawngreen;
    text-align: center;
    background-color: black;
    padding: 5px;
}

.iceCream {
    color: #ff4f33;
    text-align: center;
}